body {
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  font-size: 0px;
  letter-spacing: 0px;
  word-spacing: 0px;
}

#root > .cell {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

#palette {
  position: absolute;
  background-color: #fff;
  padding: 12px;
  margin: 10px 0 0 10px;
  border-radius: 7px;
  border: 1px solid #ababab;
  z-index: 1;
}

#palette > .color {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 7px;
  border: 1px solid #ababab;
  cursor: pointer;
}

#palette > .erase {
  background-image: url('./assets/erase.svg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}
